# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=postgres://neondb_owner:npg_pFt4LodkR2Zv@ep-tight-boat-a2jyj4t0-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= 70cf8467a2ff849ee598791206e06383

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=